<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<h1>Ваш профиль</h1>
<p>Имя пользователя: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Имя: {{ user.first_name }}</p>
<p>фамииля: {{ user.last_name }}</p>


{% if user.is_authenticated %}
<a href="{% url 'polls:logout' %}">Выйти из профиля</a>
<a href="{% url 'polls:create_application' %}">Создать заявку</a>
{% endif %}
</body>
</html>